{# 
/**
 * Custom template for iterating over embedded video links
 * 
 */
 #}
{# <div {{ attributes }}> #}
  {% for item in items %}
    <div class="video-embedded">
      <iframe
        width='560' height='315'
        src='{{ item.content['#url'] }}'
        frameborder="0"
        allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>
  {% endfor %}
{# </div> #}