// TODO: move to some global page css file
.node-music_page .responsive-menu-page-wrapper,
.node-band_page .responsive-menu-page-wrapper {
  position: absolute;
  bottom: 3rem;
  top: 3rem;
  width: 100%;
}
.node-music_page .content,
.node-band_page .content,
.page-discography #content-area {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.band-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.description-container-black {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
.description-container-white {
  background-color: rgba(240, 240, 240, 0.8);
  color: black;
}
.description-container-black,
.description-container-white {
  border-radius: 0.6rem;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 42rem;
  margin-bottom: 3rem;

  @media (max-width: $medium-screen) {
    width: 100%;
    padding: 1rem;
  }
}

.band-heading,
.simple-heading {
  font-weight: normal;
  letter-spacing: 0.7rem;
  text-transform: uppercase;
  margin-bottom: 0.6rem;
}

.band-description,
.simple-description {
  text-align: center;
}

.band_page__image img {
  border-radius: 100rem;
  border: 2px solid black;
  margin-bottom: 3rem;
}

.band-videos {
  width: 100%;
  .video-embedded {
    margin-bottom: 1.4rem;
    width: 100%;
    height: 340px;

    @media (max-width: $medium-screen) {
      height: 280px;
    }
  }
  :last-child {
    margin-bottom: 0;
  }
}
