.background-image {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.node-page,
.node-tour_date,
.node-band_page,
.node-band_page_white,
.node-simple_page {
  // background-size: cover;
  // background-position: center;
  // position: absolute;
}

// .node-page {
//   background-image: url("../../images/source/stranka1.png");
//   background-position: 50% 40%;
// }

// .page-bardo {
//   background-image: url("../../images/source/bardo-bg.jpg");
// }
// .page-fehero-rocher {
//   background-image: url("../../images/source/fehero-bg.jpg");
// }

// .page-bio {
//   background-image: url("../../images/source/bardo-bg.jpg");
// }
// .page-booking {
//   background-image: url("../../images/source/stranka1.png");
// }
// .page-tour {
//   background-image: url("../../images/source/stranka1.png");
// }
