.album-large,
.album-small {
}
.views-row {
  display: inline-block;
  margin: 0 1rem 2rem 1rem;
}
.block-views-block-discography-view-block-album,
.block-views-block-discography-view-block-appears {
  flex-direction: column;
  margin-top: 2rem;
}
.block-views-block-discography-view-block-appears {
  margin-bottom: 2rem;
}
