.block-responsive-menu {
  position: fixed;
  top: 5.8rem;
  right: 2.3rem;
  z-index: 10;
}

.block-responsive-menu span.label {
  display: none;
}
.responsive-menu-toggle-icon {
  &:before {
    top: 5px;
    width: 32px;
    height: 4px;
  }
  & span.icon {
    top: 14px;
    width: 32px;
    height: 4px;
  }
  &:after {
    top: 23px;
    width: 32px;
    height: 4px;
  }
}
.mm-listitem {
  text-align: center;
  font-weight: bold;
}
.mm-navbar__title {
  display: none;
}
.mm-menu {
  // --mm-color-background: #afc6de;
}
.mm-panel {
  padding-left: 0;
  padding-right: 0;
}
