.block-responsive-menu {
  position: fixed;
  top: 6.7rem;
  left: 0.8rem;
  z-index: 10;

  @media (max-width: $large-screen) {
    top: 5rem;
    position: absolute;
  }
}
.responsive-menu-toggle-icon:before,
.responsive-menu-toggle-icon:after,
.responsive-menu-toggle-icon span.icon {
  background: rgba(255, 255, 255, 0.9);
}

.block-responsive-menu span.label {
  display: none;
}
.responsive-menu-toggle-icon {
  &:before {
    top: 5px;
    width: 29px;
    height: 4px;
  }
  & span.icon {
    top: 14px;
    width: 29px;
    height: 4px;
  }
  &:after {
    top: 23px;
    width: 29px;
    height: 4px;
  }
}
li.mm-listitem {
  text-align: center;
  font-weight: bold;
  color: black;
}
.mm-listitem:after {
  border: none;
}
.mm-menu {
  background: transparent !important;
  background-color: transparent !important;
  --mm-color-background: transparent !important;
}
.mm-panel,
.mm-panels {
  background-image: url("../../images/source/menu-bg-vlasy.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.mm-navbar__title {
  display: none;
}
.mm-navbar {
  border: none;
}
.mm-panel {
  padding-left: 0;
  padding-right: 0;
}
.mm-menu_offcanvas {
  @media (min-width: 550px) {
    max-width: 340px;
  }
}
.mm-wrapper_opening .mm-menu_offcanvas.mm-menu_opened ~ .mm-slideout {
  @media (min-width: 550px) {
    transform: translate3d(340px, 0, 0);
  }
}
.mm-menu_keyboardfocus a:focus,
.mm-menu_keyboardfocus.mm-menu_opened ~ .mm-wrapper__blocker a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}
