.page-tour #content-area {
  min-height: 100vh;
  width: 100%;
  font-size: 18px;

  @media (min-width: $large-screen) {
    display: flex;
    align-items: center;
  }
}
.views-element-container {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
}
.page-tour table {
  border-radius: 0.6rem;
  text-align: center;
  margin: 3rem auto;
  width: 90%;
  min-width: 54rem;
  // font-weight: bold;

  :last-child {
    margin-bottom: 0;
  }
  // :first-child {
  //   font-size: 18px;
  // }
}
tr {
  border-bottom: none;
}
.tour-date-row {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 18px;
}
.views-field-field-project {
  width: 25%;
}
.views-field-field-tickets {
  width: 15%;
}
