.views-element-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-tour table {
  background-color: rgba(240, 240, 240, 0.6);
  border-radius: 2rem;
  text-align: center;
  // padding: 4rem;
  margin: auto;
  width: 80%;

  :last-child {
    margin-bottom: 0;
  }
}
.tour-date-row {
  // margin-bottom: 1rem;
  border: none;
}
.views-field {
  width: 20%;
}
.views-field-tickets {
  // width: 10%;
}
