.page-tour #content-area {
  min-height: 100vh;
  width: 100%;

  @media (min-width: $large-screen) {
    display: flex;
    align-items: center;
  }
}
.views-element-container {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
}
.page-tour table {
  background-color: rgba(240, 240, 240, 0.6);
  border-radius: 0.6rem;
  text-align: center;
  // padding: 4rem;
  margin: 3rem auto;
  width: 80%;
  min-width: 54rem;

  :last-child {
    margin-bottom: 0;
  }
}
tr {
  border-bottom: none;
}
.tour-date-row {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.views-field-field-project {
  width: 25%;
}
.views-field-field-tickets {
  width: 15%;
}
