.block-languageswitcher {
  position: fixed;
  left: 1.8rem;
  top: 1.8rem;
  line-height: 2rem;
  font-size: 1.2rem;
  letter-spacing: 2px;
  z-index: 10;

  @media (max-width: $medium-screen) {
    top: 1rem;
    right: 1rem;
    position: absolute;
  }
}
